.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    z-index: 9999;
    width: 50px;
}

* html .ui-autocomplete {
    height: 100px;
}

.description {
    font-size: 0.8em;
    color: rgb(0, 0, 0); 
   
    margin-top: 5px;
}
